<template name="layout">
  
        <nav class="light-blue">
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo">Logo</a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                {{#if currentUser}}
                <li><a href="#">Sass</a></li>
                <li><a href="#">Components</a></li>
                <li><a href="#">Javascript</a></li>
                <li><a href="#">Mobile</a></li>
                {{/if}}
              </ul>
              <ul class="side-nav" id="mobile-demo">
                <!-- the side nav header-->
                  <div class="sideheader light-blue" style="width:300px; height:200px"></div>
                  {{#if currentUser}}
                <li><a href="#">Sass</a></li>
                <li><a href="#">Components</a></li>
                <li><a href="#">Javascript</a></li>
                <li><a href="#">Mobile</a></li>
                  {{/if}}
              </ul>
            </div>
        </nav>        


   
{{> yield}}
</template>